<% provide(:title, 'Inicio') %>


    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Automatize la gestión de vacaciones y ausencias</h1>
        <p>Este software le permitira sustituir los métodos habituales para la gestión de vacaciones y permisos laborales, como hojas de cálculo, formularios en papel o envío de emails, que no son de fácil comprensión ni suelen estar debidamente actualizados, con el fin de tener acceso a la información sobre la disponibilidad de los empleados de forma rápida y fácil, y reduciendo la carga administrativa del proceso con la única necesidad de un dispositivo con conexión a internet.</p>
        <p>
			<%= link_to "Registrese ahora &raquo;".html_safe, signup_path, class: "btn btn-primary btn-lg" %>
        </p>
        <p>&nbsp;</p>
        <p>
        <%= link_to image_tag("rails.png", alt: "Rails"),'http://rubyonrails.org/' %>
        <%= link_to image_tag("ruby.jpeg", alt: "Ruby", width: 87, height: 115),'https://www.ruby-lang.org/es/' %>
        <%= link_to image_tag("html3framework.png", alt: "Bootstrap", width: 350, height: 115),'http://getbootstrap.com/' %>

        <%= link_to image_tag("github.jpeg", alt: "Github", width: 250, height: 92),'https://github.com/' %>

        <%= link_to image_tag("heroku.jpeg", alt: "Heroku", width: 200, height: 75),'https://www.heroku.com/' %>

        <%= link_to image_tag("postgresql.png", alt: "PostgreSQL", width: 100, height: 115),'http://www.postgresql.org/' %>
        </p>
      </div>
    </div>

    





