<% provide(:title, 'Lista de Calendarios') %>
<h2 class="sub-header">Lista de Calendarios</h2>
  
<div class="well well-sm">
  <%= link_to "Nuevo Calendario!", new_default_calendar_path, class: "btn btn-medium btn-primary" %> &nbsp;&nbsp; 
</div>

<div class="well well-sm">
  <%= form_tag(default_calendars_path, :method => "get" , :class => 'form-inline') do %>
    <%= select_tag :status, options_for_select([["Estado: Activo","t"],["Estado: No activo","f"]],params[:status]), :class=> 'form-control' %>
    <%= submit_tag "Buscar", :name => nil, class:"btn btn-medium btn-primary" %>
    <%= link_to("Limpiar", default_calendars_path,  :class => "btn btn-info", :title => "Limpiar parámetros de búsqueda") %>
  <% end %>
</div>

<% if @default_calendars.count<1 %>
    <div class="alert alert-info">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Aviso!</strong> No se encontraron resultados.
    </div>
  <% end %>
<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Año</th>
     
      <th colspan="2">Estado</th>
      <th>Días no laborables</th>
    </tr>
  </thead>

  <tbody>
    <% @default_calendars.each do |default_calendar| %>
      <tr class="fields">
        <td width="5%"><%= default_calendar.id %> </td>
        <td><%= default_calendar.anio %></td>
        <td><%= show_status(default_calendar.status) %> </td>
       
        <td>
          <% if default_calendar.status %>
            <%= link_to "Desactivar", default_calendar, method: :delete, :class => "btn btn-sm btn-default", data: { confirm: "Esta seguro? Una vez eliminado el calendario no a aparecera por defecto a las nuevas empresas registradas en el sistema" } %>
          <% else %>
            <%= link_to "Reactivar", default_calendar, method: :delete, :class => "btn btn-sm btn-default" ,data: { confirm: "Esta seguro? Una vez activado el calendario aparecera por defecto a las empresas registradas en el sistema" } %>
          <% end %>
        </td>
         <td>  <%= default_calendar.default_line_calendars.count %></td>
         <td><%= link_to "Días no laborables", default_calendar_path(default_calendar.id) ,:class => "btn btn-sm btn-default" %></td>
      
      </tr>
    <% end %>
  </tbody>
</table>

<br>


