
<%= javascript_include_tag "datatables.language" %>

<script type="text/javascript">
  $(document).ready(function() {
      $('#default_line_calendars').DataTable({
          "language": language,
           "columnDefs": [
            { "orderable": false, "targets": [3,4] },
                { "type": 'date-eu', targets: 0 },
            { "searchable": false, "targets": [3,4]}
          ],
          "destroy": true
        });
  } );
</script>

<% provide(:title, 'Dias festivos del calendario') %>
<h2 class="sub-header">Dias no laborables del calendario <%= @cal.anio %></h2>

<div class="well well-sm">
  <%= link_to "Nuevo Día no laborable !", new_default_line_calendar_path(calendar_id: @cal.id), class: "btn btn-medium btn-primary" %> 
</div>


<table class="table table-hover table-striped" id="default_line_calendars">

  <thead>
    <tr class="fields">
      <th width="15%">Fecha</th>
      <th width="50%">Nombre</th>
      <th width="10%">Estado</th>
      <th width="7%">&nbsp;</th>
      <th width="7%">&nbsp; </th>
    </tr>
  </thead>

  <tbody>
    <% @cal.default_line_calendars.each do |line_calendar| %>
      <tr>
        <td><%= line_calendar.fecha %></td>
        <td><%= line_calendar.nombre %></td>
        <td><%= bool_to_s(line_calendar.status) %></td>
        <td><%= link_to 'Editar', edit_default_line_calendar_path(line_calendar), :class => 'btn btn-default btn-sm' %></td>
        <td><%= link_to 'Eliminar', line_calendar, method: :delete, data: { confirm: 'Esta seguro?' }, :class => 'btn btn-danger btn-sm' %></td>
      </tr>
    <% end %>
  </tbody>

</table>

<br>
  <div class="modal-footer">
        <%= link_to("Volver", default_calendars_path, :confirm => "Esta seguro de cancelar la operación?  Los cambios no se guardaran ", :class => "btn btn-primary", :title => "Cancelar los cambios y volver a la pagina inicial.") %>
  </div>

