<% provide(:title, @emp.nombre) %>

	<h2 class="sub-header">Balance de <%= @emp.nombre %></h2>


	<div class="well">
		<% if current_user.role>2 %>	 
			<p><%= link_to "Asignar Ausencias", new_request_path(:id => @emp.id), class: "btn btn-primary" %></p>
		<% end %>	

		<%= form_tag({action: "balance"}, :method => "get",   :class => 'form-inline') do %>

		<%= select_tag :calendar, options_for_select([["Seleccione Calendario" , "" ]]+@calendars.collect{ |u| [u.anio, u.anio] },@calselected), :class => 'form-control'%>

		<%= submit_tag "Buscar", :name => nil, class:"btn btn-medium btn-primary" %>
		  <%= link_to("Limpiar", {:action => 'balance'},  :class => "btn btn-info", :title => "Limpiar parámetros de búsqueda") %>
		<% end %>
	</div>


<!--
	<div class="col-md-5">
		<div class="well">
			<legend>Información</legend>
			<label><strong>Nombre:</strong> <%= @emp.nombre %></label>
			<label><strong>Email:</strong> <%= @emp.email %></label>
			<label><strong>Departamento:</strong> <%= @emp.department.nombre %></label>
			<label><strong>Fecha de Alta: </strong><%= @emp.fecha_alta %></label>

			<label><strong>Permisos:</strong> <%= @emp.nombre %></label>
			<label><strong>Cargo:</strong> <%= @emp.cargo %></label>
			<label><strong>Situación: </strong><%= bool_to_s(@emp.status) %></label>
		</div>
	</div>
-->

<h3>Resumen de permisos </h3>
  
<% if @datos.any? %>  
				<% @datos.each do |req| %>
					<div class="accordion">					
						<div class="list-group">
						  <a href="#" class="list-group-item disabled"><%= req[:nombre] %> </a>
						  <a href="#" class="list-group-item"><strong>Días hábiles confirmados:</strong> <%= req[:confirmados] %></a>
						  <a href="#" class="list-group-item"><strong>Días hábiles pendientes: </strong><%= req[:pendientes] %></a>
						  <a href="#" class="list-group-item"><strong>Días restantes: </strong>
							<% if req[:num_dias_max]>0 %>
								<%= req[:num_dias_max]-(req[:confirmados]+req[:pendientes]) %>
							<% else %>
								Sin Límite 
							<% end %>
						  </a>
						  
						  	<a href="#" id="acc_trigger" class="list-group-item active">TOTAL: <%=  req[:num_dias_max] %></a>
							<div class="acc_container">
								<div class="block">
										<table class="table table-hover table-striped">
										<thead>
											<th >Desde</th>
											<th >Hasta</th>
											<th >Permiso</th>
											<th>Dias hábiles</th>
											<th>Total Días</th>
											<th>Estado</th>
											
										</thead>
										<tbody>
											<% req[:requests].each do |rq| %>
												<tr>
												<td ><%= rq.desde %></td>
												<td ><%= rq.hasta %></td>
												<td><%= rq.request_type.nombre %></td>
												<td><%= @dias_habiles[rq.id] %> </td>
												<td><%= @total_dias[rq.id] %></td>

												<td><%= rq.status %></td>
												</tr>

											<% end %>
										</tbody>
										</table>
								</div>
							</div>
						</div>

					

					</div>
				<% end %>
				<br />
<% else %>
<div class="alert alert-info">
	No se ha solicitado ningun permiso
</div>

<% end %>


	<% if chief_user? || admin_user? %>
		<div class="modal-footer col-md-12">
			<%= link_to 'Volver', employees_path, :class => 'btn btn-primary' %>
		</div>
	<% end %>
