<% provide(:title, 'Editar información') %>

<% if current_user==@emp.id %>
	<h2 class="sub-header">Modificar mis datos </h2>
<% else %>
	<h2 class="sub-header">Modificar datos de <%= current_user.nombre %></h2>
<% end %>


<%= render partial:'shared/error_messages',  object: @emp, as: 'object' %>

<%= form_for(@emp, html: {:class=>'form-horizontal'}) do |f| %>
	
	<div class="well">
		<fiedlset>
			<legend>Datos del empleado</legend>

				<div class="field form-group">
					<%= f.label :nombre, :class =>'control-label col-sm-2' %>
					<div class="col-sm-6 col-md-4">
					<%= f.text_field :nombre,:class =>'form-control', :required => true %>
					</div>
				</div>

				<div class="field form-group">
					<%= f.label :email, :class => 'control-label col-sm-2' %>
					<div class="col-sm-6 col-md-4">
					<%= f.text_field :email,:class =>'form-control', :required  => true %>
					</div>
				</div>
				
				<% if admin_user? %>

					<div class="field form-group">
						<%= f.label :fecha_alta, "Fecha de alta", :class =>'control-label col-sm-2' %>
						<div class="col-sm-6 col-md-4">
							<%= f.text_field :fecha_alta, :class => 'datepicker form-control',:placeholder => "Click para abrir calendario", :required => true %>
						</div>
					</div>

					<% if !(admin_user? && current_user.id==@emp.id) %>
					<div class="field form-group">
						<%= f.label :role, "Tipo de Usuario",:class => 'control-label col-sm-2' %>
						<div class="col-sm-6 col-md-4">
							<%= f.select :role, options_for_select({ "Empleado" => 1,"Jefe Departamento" => 2, "Administrador" => 3},@emp.role), {},:class => 'form-control', :required => true %>
						</div>
					</div>
					<% end %>
					
					<div class="field form-group">
						<%= f.label :cargo, :class =>'control-label col-sm-2' %>
						<div class="col-sm-6 col-md-4">
							<%= f.text_field :cargo, :class =>'form-control', :required => true %>
						</div>
					</div>

				<% end %>

				<div class="field form-group">	
					<%= f.label :password, :class =>'control-label col-sm-2' %>
					<div class="col-sm-6 col-md-4">
					<%= f.password_field :password, :class =>'form-control' %>
					</div>
				</div>

				<div class="field form-group">
					<%= f.label :password_confirmation, "Confirmar password", :class=>'control-label col-sm-2' %>
					<div class="col-sm-6 col-md-4">
					<%= f.password_field :password_confirmation, :class => 'form-control' %>
					</div>
				</div>
		
		</fieldset>
	</div>

	<div class="modal-footer">
		<%= f.submit "Actualizar", class:"btn btn-medium btn-primary",:title =>"Actualizar datos del empleado" %>
				
		<%= link_to("Cancelar", employees_path, :confirm => "Esta seguro? Los cambios no seran guardados.", :class => "btn btn-default", :title => "Anular los cambios y volver al índice de Empleados.") %>
	</div>
<% end %>
