<script type="text/javascript">
  $(document).ready(function() {
      $('#employees').DataTable({
      		"language": language,
           "columnDefs": [
  			    { "orderable": false, "targets": [5,6] },
  			    { "type": 'date-eu', targets: 2 },
  			    { "searchable": false, "targets": [5,6]}
  			  ],
  			  "destroy": true
      	});
  } );
</script>


<% provide(:title, 'Lista de empleados') %>
<h2 class="sub-header">Lista de Empleados</h2>

<% if admin_user? %>
<div class="well well-sm">
	<%= link_to "Nuevo Empleado!", new_employee_path, class: "btn btn-medium btn-primary" %> 
</div>
<% end %>

<div class="well well-sm">
	<%= form_tag(employees_path, :method => "get" , :class => 'form-inline') do %>

	<div class="form-group">
		<%= select_tag :department, options_for_select([["Seleccione Departamento",""]]+@dptos.collect{ |u| [u.nombre, u.id] },params[:department]), :class => 'form-control'%>
	</div>

	<div class="form-group">
		<%= select_tag :status, options_for_select([["Activo","t"],["Baja","f"]],params[:status]), :class=> 'input-sm' %>
	</div>

	<%= submit_tag "Buscar", :name => nil, class:"btn btn-medium btn-primary" %>
	  <%= link_to("Limpiar", employees_path,  :class => "btn btn-info", :title => "Limpiar parámetros de búsqueda") %>
	<% end %>
</div>


<table id="employees" class="table table-hover table-striped" cellspacing="0" width="100%">
<thead>
	<tr>
		<th>Nombre</th>
		<th>Email</th>
		<th>Fecha Alta</th>
		<th>Cargo</th>
		<th>Rol</th>
		<th></th>
		<th></th>
	</tr>
</thead>

<tbody>
	<%= render @employees %>
</tbody>

</table>



