<% provide(:title, 'Alta de empleados') %>
<h2 class="sub-header">Alta de empleado</h2>
	
	<%= render partial:'shared/error_messages',  object: @emp, as: 'object' %>

	
	<%= form_for(@emp, html: {class: "form-horizontal"}) do |f| %>

	<div class="well">
	
			<fieldset>
				<legend>Datos del empleado</legend>
		

				<div class="field form-group">
					<%= f.label :nombre,"Nombre Completo*", :class => 'col-sm-2 control-label' %>
					<div class="col-sm-6 col-md-4">
						<%= f.text_field :nombre, :class =>'form-control',:required => true %>
					</div>
				</div>
				
				<div class="field form-group">
					<%= f.label :email," Email*", :class => 'col-sm-2 control-label' %>
					<div class="col-sm-6 col-md-4">
					<%= f.text_field :email, :class =>'form-control', :required => true %>
					</div>
				</div>

				<div class="field form-group">
					<%= f.label :fecha_alta, "Fecha de alta*", :class => 'col-sm-2 control-label' %>
					<div class="col-sm-6 col-md-4">
					<%= f.text_field :fecha_alta, :class => 'datepicker form-control', :placeholder => "Click para abrir calendario", :required => true %>
					</div>
				</div>
				<div class="alert alert-warning">
					<p>Seleccione la fecha de alta del empleado en la empresa. A partir de esta fecha se obtienen los días restantes por cada uno de los tipos de solicitud que se le permiten.</p>
				</div>
				<div class="field form-group">
					<%= f.label :role, "Privilegios*", :class=> 'col-sm-2 control-label' %>
					<div class="col-sm-6 col-md-4">
					<%= f.select :role, options_for_select([["Seleccione Rol...",0],["Empleado",1],["Jefe de Departamento",2],["Administrador",3]]),{prompt:"Seleccione Rol ..."},
						:class => 'form-control', :required => true %> 
					</div>
				</div>

				<div class="field form-group">
					<%= f.label :department_id, "Departamento*" , :class=> 'col-sm-2 control-label' %>
					<div class="col-sm-6 col-md-4">
							
						<%= f.select :department_id,  options_for_select(@departments.map{ |s| [s.nombre, s.id] }),{prompt: 'Seleccione Departamento ...'}, 
							:class => 'form-control', :required => true  %>

					</div>
				</div>

				<div class="field form-group">
					<%= f.label :cargo , "Cargo",:class=> 'col-sm-2 control-label' %> 
					<div class="col-sm-6 col-md-4">
						<%= f.text_field :cargo, :class => 'form-control' %>
					</div>
				</div>

	</div>
	<div class="modal-footer">
		<%= f.submit "Guardar", class:"btn btn-medium btn-primary",:title =>"Guardar cambios para este departamento" %>
				
		<%= link_to("Cancelar", employees_path, :confirm => "Esta seguro? Los cambios no seran guardados.", :class => "btn btn-default", :title => "Anular los cambios y volver al índice de Departamentos.") %>
	</div>

		</fieldset>
	<% end %>



