<% provide(:title, 'Alta de empleados') %>
<h3>Alta de empleado</h3>


<div class="row">
	<div class="span5 offset1">
		<%= form_for(@emp) do |f| %>

			<%= render 'shared/error_messages' %>
			
			<%= f.label :nombre %>
			<%= f.text_field :nombre %>

			<%= f.label :email %>
			<%= f.text_field :email %>

			<%= f.label :fecha_alta, "Fecha de alta" %>
			<%= f.text_field :fecha_alta, :class => 'datepicker', :placeholder => "Click para abrir calendario" %>
			
			<%= f.label :role, "Privilegios" %>
			<%= f.select :role, "<option value='1'>Empleado</option>
								 <option value='2'>Jefe de Departamento</option>
								 <option value='3'>Administrador</option>".html_safe %>
			
			<%= f.label :department_id, "Departamento" %>
			<%= f.select :department_id, options_for_select(@departments.map{ |s| [s.nombre, s.id] }) %>

			<%= f.label :cargo %>
			<%= f.text_field :cargo %>

			<%= f.label :password %>
			<%= f.password_field :password %>

			<%= f.label :password_confirmation, "Confirmar password" %>
			<%= f.password_field :password_confirmation %>

			<p>
			<%= f.submit "Crear cuenta", class:"btn btn-medium btn-primary" %>
			</p>
		<% end %>

	</div>
</div>