<% provide(:title, @emp.nombre) %>


<div class="col-sm-12">
	<h2 class="sub-header">Bienvenido, <%= @emp.nombre %></h2>
	<aside class="span4">
		<section>
		 <div class="well">
			<% if !admin_user? %>
				<%= link_to "Nueva solicitud", new_request_path(:id => @emp.id), class: "btn btn-primary" %>
			<% end %>
			&nbsp;&nbsp;
			<%= link_to "Ver Balance", {action: "balance" , id: @emp.id}, class: "btn btn-primary" %>
		</div>
		</section>
		<legend>Próximas ausencias</legend>
		<div class="well">
		
			<% if !@nextRequest.nil? %>
				<legend><%= @nextRequest.request_type.nombre %> </legend>
				<strong>Desde:</strong>&nbsp;<%= @nextRequest.desde %> &nbsp;
				<strong>Hasta:</strong>&nbsp;<%= @nextRequest.hasta %>
				<br>
				<br>
			<% end %>
		
				<legend>Día festivo</legend>
				<strong>Fecha: </strong>&nbsp; <%= !@nextfree.nil? ? @nextfree.fecha  : '' %>
				<br />
				<strong>Dia:</strong>&nbsp;&nbsp; <%= !@nextfree.nil? ? @nextfree.dia  : '' %>

		</div>
	</aside>

	<div class="span8">
	
			<legend>Solicitudes Pendientes (<%= @requests.count %>) </legend>

			<% if @requests.any? %>
				<table class="table table-hover table-striped">
				<thead>
					<th >Tipo de Solicitud</th>
					<th> Departamento </th>
					<th >Inicio</th>
					<th >Fin</th>
					<th >Empleado</th>
					<th></th>
					<th>&nbsp;</th>
				</thead>
				<tbody>
					<%= render @requests %>
				</tbody>
				</table>
			
				<%= will_paginate @requests %>
			<% end %>
	</div>
</div>


