<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2> Bienvenido a Gescalendar, <%= @user.nombre %></h2>
    <p>
      Su cuenta en GesCalendar ha sido activada por la empresa <%= @user.department.enterprise.empresa %>.  Puede acceder a la aplicación mediante su email: <strong><%= @user.email %>.</strong> y password: <%= @newpass %><br>
    </p>
    <p>
      Para hacer login en la aplicación, haga click en el siguiente link: <%= link_to "GesCalendar", @url %>.
    </p>
    <p>Gracias por registrarse en GesCalendar!.</p>
  </body>
</html>