<%= form_for(@default_request_type, html: {:class=>'form-horizontal'}) do |f| %>
  
  <div class="well">
    <fiedlset>
      <legend>Datos del tipo de solicitud</legend>

        <div class="field form-group">
          <%= f.label :nombre, :class =>'control-label col-sm-2' %>
          <div class="col-sm-6 col-md-4">
          <%= f.text_field :nombre,:class =>'form-control', :required => true %>
          </div>
        </div>

        <div class="field form-group">
          <%= f.label :num_dias_max, :class => 'control-label col-sm-2' %>
          <div class="col-sm-3 col-md-2">
          <%= f.number_field :num_dias_max,:class =>'form-control', :required  => true %>
          </div>
        </div>

        <div class="field form-group">
          <label class="control-label col-sm-2">
            <%= f.check_box :status %> Activo
          </label>
        </div>

    </fiedlset>
    
  </div>

  <div class="modal-footer">
    <%= f.submit "Actualizar", class:"btn btn-medium btn-primary",:title =>"Actualizar datos del tipo de solicitud" %>   
    <%= link_to("Cancelar", default_request_types_path, :confirm => "Esta seguro? Los cambios no seran guardados.", :class => "btn btn-default", :title => "Anular los cambios y volver al índice de Tipos de solicitud.") %>
  </div>
<% end %>






