<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @default_request_type.nombre %>
</p>

<p>
  <strong>Num dias max:</strong>
  <%= @default_request_type.num_dias_max %>
</p>

<p>
  <strong>Status:</strong>
  <%= @default_request_type.status %>
</p>

<%= link_to 'Edit', edit_default_request_type_path(@default_request_type) %> |
<%= link_to 'Back', default_request_types_path %>
