

<%= form_for(@request_type, html: {class: "form-horizontal"}) do |f| %>
 
<div class="well">
  
    <div class="field form-group">
      <%= f.label :nombre, :class =>'col-sm-4 control-label' %>
      <div class="col-sm-6 col-md-4">
      <%= f.text_field :nombre, :class => 'form-control', :required => true %>
      </div>
    </div>

    <div class="field form-group">
      <%= f.label :num_dias_max, "Número máximo de días permitidos", :class =>'col-sm-4 control-label' %>
      <div class="col-sm-4 col-md-2">
      <%= f.number_field :num_dias_max , :class => 'form-control', :required => true %>
      </div>
    </div>

    <div class="field form-group">
        <%= f.label :color, "Color de la etiqueta", :class => 'col-sm-4 control-label' %>
      <div class="col-sm-6 col-md-4">
        <%= f.text_field :color, :class => 'form-control', :placeholder => 'Selec.'%>
      </div>
    </div>

    <div class="field form-group">
      <%= f.label :tipo, "Disponible para empleados", :class =>'col-sm-4 control-label' %>
      <div class="col-sm-6 col-md-4">
        <%= f.check_box :tipo %>
      </div>
    </div>

    <div class="alert alert-warning">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <strong>Aviso!</strong> Si marca esta opción se permitirá a los empleados hacer solicitudes de este tipo.
    </div>
</div>
  

 <div class="modal-footer">
      <%= f.submit "Guardar", class:"btn btn-medium btn-primary" %>
        <%= link_to("Cancelar", request_types_path, :class => "btn btn-inverse", :title => "Cancelar los cambios y volver a la pagina inicial.") %>

 </div>
<% end %>
