<%= javascript_include_tag "datatables.language" %>

<script type="text/javascript">
  $(document).ready(function() {
      $('#request_types').DataTable({
          "language": language,
           "columnDefs": [
            { "orderable": false, "targets": [4] },
            { "searchable": false, "targets": [4]}
          ],
          "destroy": true
        });
  } );
</script>

<h2 class="sub-header">Listado de tipos de Solicitudes</h2>


<div class="well well-sm">
  <%= link_to "Nuevo tipo de solicitudes!", new_request_type_path, class: "btn btn-medium btn-primary" %> 
</div>


<div class="well well-sm">
  <%= form_tag(request_types_path, :method => "get" , :class => 'form-inline') do %>
    <%= select_tag :status, options_for_select([["Activo","t"],["Inactivo","f"]],params[:status]), :class=> 'form-control input-sm' %>
    <%= submit_tag "Buscar", :name => nil, class:"btn btn-md btn-primary" %>
    <%= link_to("Limpiar", request_types_path,  :class => "btn btn-info", :title => "Limpiar parámetros de búsqueda") %>
  <% end %>
</div>

<div class="table-responsive row">
<div class="col-md-12">
<table class="table table-hover table-striped" id="request_types">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Núm. máx. Días</th>
      <th>Color</th>
      <th>Departamentos</th>
      <th ></th>
    </tr>
  </thead>

  <tbody>
    <% @request_types.each do |rt| %>
      <tr class="field">
        <td><%= rt.nombre %></td>
        <td><%= rt.num_dias_max %></td>
        <td><div class="well well-sm" style="background:<%= rt.color %>"></div></td>
        
        <td><%= number_departments(rt) %></td>
        <td><%= link_to 'Editar', edit_request_type_path(rt),:class => 'btn btn-sm btn-default' %>
        
          <% if rt.status? %>
            <%= link_to 'Desactivar', rt, method: :delete, data: { confirm: 'Esta seguro?' },:class => 'btn btn-sm btn-danger' %>
          <% else %>
             <%= link_to 'Activar', rt, method: :delete, data: { confirm: 'Esta seguro?' },:class => 'btn btn-sm btn-danger' %>
            <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>
<br>





