<h3>Listado de tipos de Solicitudes</h3>
<div class="well well-sm">
<%= link_to "Nuevo tipo de Solicitud!", new_request_type_path, class: "btn btn-medium btn-primary" %> 
</div>

<div class="well well-small">
<%= form_tag(request_types_path, :method => "get" , :class => 'form-inline') do %>


<%= text_field_tag :starts_with,params[:starts_with],placeholder: "Buscar por nombre", :class => 'search-query input-large' %>

<%= select_tag :status, options_for_select([["Activo","t"],["Inactivo","f"]],params[:status]), :class=> 'input-small' %>

<%= submit_tag "Buscar", :name => nil, class:"btn btn-medium btn-primary" %>
  <%= link_to("Limpiar", request_types_path,  :class => "btn btn-info", :title => "Limpiar parámetros de búsqueda") %>
<% end %>
</div>


<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Núm. máx. Días</th>
      <th>Color</th>
      <th>Departamentos</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @request_types.each do |rt| %>
      <tr class="field">
        <td><%= rt.nombre %></td>
        <td><%= rt.num_dias_max %></td>
        <td><div class="well-small" style="background:<%= rt.color %>"></div></td>
        
        <td><%= number_departments(rt) %></td>
        <td><%= link_to 'Editar', edit_request_type_path(rt),:class => 'btn btn-small btn-default' %></td>
        <td>
          <% if rt.status? %>
            <%= link_to 'Desactivar', rt, method: :delete, data: { confirm: 'Esta seguro?' },:class => 'btn btn-small btn-danger' %>
          <% else %>
             <%= link_to 'Activar', rt, method: :delete, data: { confirm: 'Esta seguro?' },:class => 'btn btn-small btn-danger' %>
            <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>





