
      
          <ul class="nav nav-sidebar">
            <li><%= link_to "Ausencias", request_types_path %></li>
            
            <li><%= link_to "Departamentos", departments_path %></li>
            <li><%= link_to "Empleados", employees_path %></li>
          </ul>

          <ul class="nav nav-sidebar">
            <li><%= link_to "Calendarios", calendars_path %></li>
            <li><%= link_to "Empresa", edit_enterprise_path(current_emp) %></li>
          </ul>

          <ul class="nav nav-sidebar">
            <li><%= link_to "Estadísticas", requests_stats_path %></li>
          </ul>
      