<tr>
		<td><%= department.nombre %></td>
		<td><%= link_to department.availabilities.where(status: 't').count,
				department_path(department.id) %></td>
		<td>
			<%= link_to department.employees.where(status: 't').count,
				employees_path(department: department.id, status: 't') %>
		</td>
		<td>
			<%= link_to department.employees.where(status: 'f').count,
				employees_path(department: department.id, status: 'f') %>
		</td>

		<td><%= link_to 'Disponibilidad', department_path(department), :class =>"btn btn-small btn-default" %></td>


		<td>
		<%= link_to 'Editar',[:edit,department], :class =>"btn btn-small btn-default" %>

		<% if department.status %>
			<%= link_to "Dar Baja", department, method: :delete, data: { confirm: "Esta seguro?" }, :class => "btn btn-small btn-danger" %>
		<% else %>
			<%= link_to "Reactivar", department, method: :delete, data: { confirm: "Esta seguro?" }, :class => "btn btn-small btn-danger" %>
		<% end %> 

		 </td>

</tr>
	