<%= form_for(@dpto, :html => { :class=>"form form-horizontal"}) do |f| %>

<div class="well">
<fieldset>
<legend>Datos </legend>		

			<div class ="field form-group">
				<%= f.label :nombre, "Nombre*", :class =>'col-sm-2 control-label' %>
				<div class="col-sm-6 col-md-4">
					<%= f.text_field :nombre, :required => true, :class => 'form-control' %>
				</div>
			</div>
			<br /><br />




<legend>Solicitudes permitidas </legend>
 
<% if @request_types.count>0 %>
<div class="field">
	<div class="alert alert-info">
    <strong>Marque</strong> únicamente los tipos de solicitud para los que se permitiran solicitudes en el departamento.
    </div>
    <%= hidden_field_tag("department[request_type_ids][]", nil) %>
    <% @request_types.each do |rt| %>
     <label class="control-label">
     	<%= check_box_tag("department[request_type_ids][]", rt.id, rt.id.in?(@dpto.request_types.collect(&:id))) %> <%= rt.nombre %>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
     </label>
    <% end %>
    
 </div>
<% else %>
	<div class="alert alert-warning">
	<p>No existen tipos de solicitudes para su empresa.<br />
	Dirigase al menu de Administración y haga click en Ausencias para generarlas.</p>
	</div>
<% end %>

<br />



        <legend>Responsable de auditorías</legend>
          <div class="alert alert-warning">
            Las siguiente opción le permite activar como auditor de las solicitudes realizadas por los empleados del departamento al empleado cuyo rol sea jefe del departamento.
          </div>
        <div class="checkbox">
          <label>
            <%= f.check_box :jefe_auditor %> <strong>Jefe del departamento</strong>
          </label>
        </div>

</fieldset>
</div>
<div class="modal-footer">
	<%= f.submit "Guardar", class:"btn btn-medium btn-primary",:title =>"Guardar cambios para este departamento" %>
			
	<%= link_to("Cancelar", departments_path, :confirm => "Esta seguro? Los cambios no seran guardados.", :class => "btn btn-default", :title => "Anular los cambios y volver al índice de Departamentos.") %>
</div>
<% end %>