<%= javascript_include_tag "datatables.language" %>

<script type="text/javascript">
  $(document).ready(function() {
      $('#departments').DataTable({
      		"language": language,
           "columnDefs": [
  			    { "orderable": false, "targets": [4] },
  			    { "searchable": false, "targets": [4]}
  			  ],
  			  "destroy": true
      	});
  } );
</script>

<style>
.datepicker{position: absolute;}
</style>
<% provide(:title, 'Lista de Departamentos') %>
<h2 class="sub-header">Departamentos</h2>

<div class="well well-sm">
	<p> <%= link_to "Nuevo Departmento!", new_department_path, class: "btn btn-medium btn-primary" %> </p>
</div>

<div class="well well-sm">
	<%= form_tag(departments_path, :method => "get" , :class => 'form-inline') do %>

	<div class="form-group">
		<%= select_tag :status, options_for_select([["Activo","t"],["No Activo","f"]],params[:status]), :class=> 'input-sm' %>
	</div>

	<%= submit_tag "Buscar", :name => nil, class:"btn btn-medium btn-primary" %>
	  <%= link_to("Limpiar", departments_path,  :class => "btn btn-info", :title => "Limpiar parámetros de búsqueda") %>
	<% end %>
</div>


<table class="table table-hover table-striped" id="departments">
<thead>
	<th >Nombre</th>
	<th>Periodos </th>
	<th >Empleados Activos</th>
	<th >Empleados Baja </th>
	<th width="25%">&nbsp;</th>
</thead>
<tbody>
	<%= render @departments %>
</tbody>
</table>



