<%= javascript_include_tag "datatables.language" %>

<script type="text/javascript">
  $(document).ready(function() {
      $('#availabilities').DataTable({
          "language": language,
           "columnDefs": [
            { "orderable": false, "targets": [5,6] },
            { "type": 'date-eu', targets: [2,3] },
            { "searchable": false, "targets": [5,6]}
          ],
          "destroy": true
        });
  } );
</script>

<% provide(:title, @dpto.nombre) %>

<h2 class="sub-header">Disponibilidad de <%= @dpto.nombre %></h2>


<div class="well well-sm">
<%= link_to "Nuevo periodo !", new_availability_path(id: @dpto.id), class: "btn btn-medium btn-primary" %> 
  <br><br>
</div>

<% if @dpto.availabilities.count>0 %>
  <table class="table table-hover table-striped" id="availabilities">
  <thead>
    <tr>
      <th width="15%">Cargo</th>
      <th width="15%">Nª Empleados</th>
      <th width="7%">Desde</th>
      <th width="7%">Hasta</th>
      <th width="56%">Notas</th>
      <th >&nbsp;</th>
      <th>&nbsp;</th>
    </tr>
  </thead>

  <tbody>
    <% @dpto.availabilities.each do |av| %>
      <tr>
        <td><%= av.cargo %></td>
        <td><%= av.num_min_emp %></td>
        <td><%= av.desde %></td>
        <td><%= av.hasta %></td>
        <td><%= av.notas %></td>
        <td><%= link_to 'Editar', edit_availability_path(av), :class => 'btn btn-sm btn-default' %></td>
        <td><%= link_to 'Eliminar', av, method: :delete, data: { confirm: 'Esta seguro?' }, :class => 'btn btn-sm btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
  </table>
<% else %>

  <div class="alert alert-info">No se encontraron periodos de disponibilidad</div>
<% end %>

<br>
  <div class="modal-footer"> 
        <%= link_to("Volver", departments_path, :confirm => "Esta seguro de cancelar la operación?  Los cambios no se guardaran ", :class => "btn btn-primary", :title => "Cancelar los cambios y volver a la pagina inicial.") %>
  </div>

