
<script type="text/javascript">
 function open_modal_info(desde,hasta,rt,notas){
 		$('#req_desde').html(desde);
 		$('#req_hasta').html(hasta);
 		$('#req_rt').html(rt);
 		$('#req_notas').html(notas);
		$('#myModal').modal('show');
 }

</script>


<h2 class="sub-header">Calendario</h2>

<style type="text/css">	
.table th, .table td{
	padding:5px;
	font-size:12px;
}


.table-bordered th{
	border:0px; 
}

.table-bordered td{
	border-left:2px solid white;
}
</style>




<div class="well well-sm">
	<%= form_tag(requests_calendar_path, :method => "get" , :class => 'form-inline') do %>
		
		<div class="form-group col-xs-12 col-sm-8 col-md-4">
			<%= select_month(@date, {use_month_names: %w(Enero Febrero Marzo Abril Mayo Junio Julio Agosto Septiembre Octubre Noviembre Diciembre)},{:class => 'form-control'}) %>
				<%= select_year(@date, {start_year: (Date.current.year-1), end_year: (Date.current.year+1)},{:class => 'form-control'}) %>
		</div>
		

		<% if chief_user? || admin_user? %>
		<div class="form-group">
			<%= text_field_tag :starts_with,params[:starts_with],placeholder: "Nombre de empleado", :class => 'search-query form-control' %>
		</div>

		<div class="form-group">
			<%= select_tag :department, options_for_select([["Departamento" , "" ]]+@dptos.collect{ |u| [u.nombre, u.id] },params[:department]), :class => 'form-control'%>
		</div>
		<% end %>
		<%= submit_tag "Buscar", :name => nil, class:"btn btn-medium btn-primary" %>
		  <%= link_to("Limpiar", requests_calendar_path,  :class => "btn btn-info", :title => "Limpiar parámetros de búsqueda") %>
		  <%= link_to "Exportar en Excel", requests_export_requests_path+'.xlsx', :class=>'btn btn-link', :title=>"Exportar en .xlsx" %>
	<% end %>



</div>


<div class="box">
	<div class="box-header with-border">
		<h3 class="box-title">Calendario mensual</h3>
	</div>
	<div class="box-body table-responsive">

		<table class="table table-hover table-striped table-bordered">
			<thead>
				<tr >
					<th  rowspan="2" >
						<button type="button" class="btn btn-primary anterior" aria-label="anterior">
							<span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
						</button>
						<button type="button" class="btn btn-primary siguiente" aria-label="siguiente">
							<span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
						</button>
					</th>
					<% @diasmes.each do |d|  %>
						<th  width="2%"><%= d %></th>
					<% end %>
				</tr>

				<tr>
					<% @nombredias.each do |d|  %>
						<% if d=='S' || d=='D' %>
							<th width="2%" style="background:#D9D9D9;"><%= d %></th>
						<% else %>
							<th width="2%"><%= d %></th>
						<% end %>
					<% end %>
				</tr>
			</thead>

			<tbody>
				<% @employees.each do |e| %>
				<tr>
						<td nowrap>
							<% if current_user.role>=2 %>
								<%= link_to e.nombre, {controller: "employees", action: "balance", id: e.id}, :class=>'btn btn-small',
									:style=>'padding:0px; font-size:13px' %>
							<% else %>
								<%= e.nombre %>
							<% end %>
						</td>

						<% @fechas.each do |dia| %>
									<%  req=e.requests.where(:status => 2).where('? between desde and hasta',dia).first %>

									<% if dia.wday==6 || dia.wday==0	%>
										<td style="background:#D9D9D9;"></td>
									<% elsif !req.nil? %>
										<td style="background:<%= req.request_type.color %>; cursor:pointer" onclick="open_modal_info('<%= req.desde %>','<%= req.hasta %>','<%= req.request_type.nombre %>','<%= req.motivo %>')">
										</td>
									<% else %>
												<td></td>
									<% end %>

						<% end %>
				</tr>
				<% end %>
			</tbody>

		</table>
	</div>
</div>


	<div class="box">
		<div class="box-header with-border">
			<h4 class="box-title">Tipos de solicitud</h4>
		</div>
		<div class="box-body">
			<% @requests_types.each do |rt| %>
			<span class="label" style="background:<%= rt.color %>"><big><b><%= rt.nombre %></b></big></span>
		<% end %>
		</div>
	</div>



              
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Datos de la solicitud</h4>
      </div>
      <div class="modal-body">

				<div class="row">
						<label class="col-xs-3 col-md-2"><strong>Desde:</strong></label>
						<div class="col-xs-3 col-md-2">
							 <span  id="req_desde"></span>
						</div>
						 <label class="col-xs-3 col-md-2"><strong>Hasta:</strong></label>
						 <div class="col-xs-3 col-md-2">
						 	<span  id="req_hasta"></span><br>
						 </div>
				</div>

				<div class="row">
      		<label class="col-sm-2"><strong>Solicitud:</strong></label>
        	<span id="req_rt"></span><br>
       	</div>

       		<div class="row">
      		<label class="col-sm-2"><strong>Notas:</strong></label>
        	<span id="req_notas"></span><br>
       	</div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
<!-- End of Modal -->


