<h3>Calendario</h3>
<style type="text/css">	
.table th, .table td{
	padding:5px;
	font-size:13px;
}


.table-bordered th{
	border:0px; 
}

.table-bordered td{
	border-left:2px solid white;
/*	border-top:2px solid white; */

}
</style>




<div class="well well-sm">
	<%= form_tag(requests_calendar_path, :method => "get" , :class => 'form-inline') do %>
		
		<div class="form-group col-xs-12 col-sm-8 col-md-4">
			<%= select_month(@date, {use_month_names: %w(Enero Febrero Marzo Abril Mayo Junio Julio Agosto Septiembre Octubre Noviembre Diciembre)},{:class => 'form-control'}) %>
				<%= select_year(@date, {start_year: (Date.current.year-1), end_year: (Date.current.year+1)},{:class => 'form-control'}) %>
		</div>
		
		<div class="form-group">
			<%= text_field_tag :starts_with,params[:starts_with],placeholder: "Nombre de empleado", :class => 'search-query form-control' %>
		</div>

		<div class="form-group">
			<%= select_tag :department, options_for_select([["Departamento" , "" ]]+@dptos.collect{ |u| [u.nombre, u.id] },params[:department]), :class => 'form-control'%>
		</div>
		<%= submit_tag "Buscar", :name => nil, class:"btn btn-medium btn-primary" %>
		  <%= link_to("Limpiar", requests_calendar_path,  :class => "btn btn-info", :title => "Limpiar parámetros de búsqueda") %>
		  <%= link_to "Exportar en Excel", requests_export_requests_path+'.xlsx', :class=>'btn btn-link', :title=>"Exportar en .xlsx" %>
	<% end %>



</div>


<div class="box">
	<div class="box-header with-border">
		<h3 class="box-title">Calendario mensual</h3>
	</div>
	<div class="box-body table-responsive">

		<table class="table table-hover table-striped table-bordered">
			<thead>
				<tr >
					<th width="15%" rowspan="2" >
						<button type="button" class="btn btn-primary anterior" aria-label="anterior">
							<span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
						</button>
						<button type="button" class="btn btn-primary siguiente" aria-label="siguiente">
							<span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
						</button>
					</th>
					<% @diasmes.each do |d|  %>
						<th  width="2%"><%= d %></th>
					<% end %>
				</tr>

				<tr>
					<% @nombredias.each do |d|  %>
						<% if d=='S' || d=='D' %>
							<th width="2%" style="background:#D9D9D9;"><%= d %></th>
						<% else %>
							<th width="2%"><%= d %></th>
						<% end %>
					<% end %>
				</tr>
			</thead>

			<tbody>
				<% @employees.each do |e| %>
				<tr>
						<td>
							<% if current_user.role>=2 %>
								<%= link_to e.nombre, {controller: "employees", action: "balance", id: e.id}, :class=>'btn btn-small',
									:style=>'padding:0px' %>
							<% else %>
								<%= e.nombre %>
							<% end %>
						</td>

						<% @fechas.each do |dia| %>
									<%  req=e.requests.where(:status => 2).where('? between desde and hasta',dia).first %>

									<% if dia.wday==6 || dia.wday==0	%>
										<td style="background:#D9D9D9;"></td>
									<% elsif !req.nil? %>
													<td style="background:<%= req.request_type.color %>"></td>
									<% else %>
												<td></td>
									<% end %>

						<% end %>
				</tr>
				<% end %>
			</tbody>

		</table>
	</div>
</div>


	<div class="box">
		<div class="box-header with-border">
			<h4 class="box-title">Tipos de solicitud</h4>
		</div>
		<div class="box-body">
			<% @requests_types.each do |rt| %>
			<h4><span class="label" style="background:<%= rt.color %>"><b><%= rt.nombre %></b></span></h4>
		<% end %>
		</div>
	</div>





