<% provide(:title, 'Lista de Solicitudes pendientes') %>
<h2 class="sub-header">Lista de Solicitudes pendientes</h2>

<div class="well well-sm">
	<%= form_tag(requests_pending_path, :method => "get" , :class => 'form-inline') do %>

	<div class="form-group">
		<%= text_field_tag :starts_with,params[:starts_with],placeholder: "Buscar por nombre", :class => 'search-query form-control' %>
	</div>
	
	<div class="form-group">
		<%= select_tag :department, options_for_select([["Seleccione Departamento",""]]+@dptos.collect{ |u| [u.nombre, u.id] },params[:department]), :class => 'form-control'%>
	</div>

	<div class="form-group">
		<%= select_tag :request_type, options_for_select([["Seleccione Tipo Solicitud",""]]+@rts.collect{ |u| [u.nombre, u.id] },params[:request_type]), :class => 'form-control'%>
	</div>

	<%= submit_tag "Buscar", :name => nil, class:"btn btn-medium btn-primary" %>
	  <%= link_to("Limpiar", requests_pending_path,  :class => "btn btn-info", :title => "Limpiar parámetros de búsqueda") %>
	<% end %>
</div>


<% if @requests.any? %>

<%= will_paginate %>

<table class="table table-hover table-striped">
<thead>
	<th>Empleado</th>
	<th>Departamento</th>
	<th>Inicio</th>
	<th>Fin</th>
	<th>Solicitud</th>
	
	<th></th>
</thead>
<tbody>
	<%= render @requests %>
</tbody>
</table>

<%= will_paginate %>
<% else %>

	<div class="alert alert-info">
		No tiene solicitudes pendientes
	</div>

<% end %>