<h2 class="sub-class">Auditoria de la Solicitud</h2>


<%= form_for(@request, html: {:class => 'form-horizontal' }) do |f| %>
	<fieldset>
		<% if admin_user? %>
			<legend>Datos de la Solicitud</legend>
		<% else %>
			<legend>Datos de la Ausencia</legend>
		<% end %>

		<div class="well">

			<div class="form-group">
		    	<%= f.label :empleado, "Empleado:", :class =>'col-sm-3 control-label' %>
		    	<div class="col-sm-6 col-md-4">
		    	    <%=   f.text_field :empleado , :value => @request.employee.nombre,:disabled => true, :class => 'form-control' %>
		  		</div>
		 	</div>

			<div class="form-group">
		    	<%= f.label :desde, "Fecha de Inicio:", :class =>'col-sm-3 control-label' %>
				<div class="col-sm-6 col-md-4">
		    		<%=   f.text_field :desde ,:value=>@request.desde, :disabled => true,:class => 'form-control' %>
		  		</div>
		  	</div>

		  	<div class="form-group">
		    	<%= f.label :hasta, "Fecha de Fin:", :class =>'col-sm-3 control-label' %>
		    	<div class="col-sm-6 col-md-4">
		    		<%=   f.text_field :hasta ,:value => @request.hasta, :disabled => true, :class => 'form-control' %>
		  		</div>
		  	</div>

			<div class="form-group">
		    	<%= f.label :solicitud, "Tipo de Solicitud:", :class =>'col-sm-3 control-label' %>
		    	<div class="col-sm-6 col-md-4">
		    		<%=   f.text_field :solicitud , :value => @request.request_type.nombre,:disabled => true, :class => 'form-control' %>
		  		</div>
		  	</div>

		 	<div class="form-group">
		    	<%= f.label :motivo, "Comentarios:", :class =>'col-sm-3 control-label' %>
		    	<div class="col-sm-6 col-md-4">
		    		<%=   f.text_area :motivo , :rows => 4 , :cols => 60, :disabled => true,:width => '80%', :class =>'form-control' %>  	
		  		</div>
		  	</div>
		 
		</div>    
	

	</fieldset>
<br />

 <div class="modal-footer">  
     <%= link_to("Volver", employee_path(current_user),  :class => "btn btn-info", :title => "Volver a la pagina inicial.") %>
 </div>

<% end %>
