<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>


<h2 class="sub-header">Estadísticas de permisos</h2>

<div class="well well-sm">
	<%= form_tag(requests_stats_path, :method => "get" , :class => 'form-inline') do %>

	<%= select_tag :calendar, options_for_select([["Calendario" , "" ]]+@calendars.collect{ |u| [u.anio, u.anio] },params[:calendar]), :class => 'input-large'
	%>

	<%= select_tag :department, options_for_select([["Departamento" , "" ]]+@dptos.collect{ |u| [u.nombre, u.id] },params[:department]), :class => 'input-large'
	%>

	<%= submit_tag "Buscar", :name => nil, class:"btn btn-medium btn-primary" %>
	  <%= link_to("Limpiar", requests_stats_path,  :class => "btn btn-info", :title => "Limpiar parámetros de búsqueda") %>
	<br />

	<% end %>
</div>

<div class="box">
	<div class="box-header with-border">
		<h3 class="box-title">Solicitudes por semana</h3>
	</div>
	<div class="box-body">
		<%= line_chart @request_by_rts %>
	</div>
</div>
<div class="row">
<div class="col-md-6">
	<div class="box">
		<div class="box-header with-border">
			<h3 class="box-title">Tipos de solicitudes realizadas</h3>
		</div>
		<div class="box-body">
				<%= bar_chart @rts %>
		</div>
	</div>
</div>

<div class="col-md-6">
	<div class="box">
		<div class="box-header with-border">
			<h3 class="box-title">Estado de solicitudes</h3>
		</div>
		<div class="box-body">
			<%= pie_chart @reqs %>
		</div>
	</div>
</div>
</div>

	