<% provide(:title, 'Dias festivos del calendario') %>
<h2 class="sub-header">Dias hábiles del calendario <%= @cal.anio %></h2>
  
<%= render partial:'shared/error_messages',  object: @cal, as: 'object' %>

<%= form_for(@cal, :url => {:action=> "update_days", :id => @cal }, :html => {:class => "form form-horizontal"}) do |f| %>

<fieldset>
<div class="well">
<legend>Días hábiles de la semana</legend>

<div class="alert alert-warning">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <strong>Aviso!</strong> Los días hábiles son los que se tendrán en cuenta para el computo global de días solicitados por ausencia.
      Por ejemplo, si el empleado dispone de 22 días naturales de vacaciones, y únicamente son laborables los días entre semana(Lunes a Viernes), es necesario no seleccionar sabados y domingos para que no se tengan en cuenta al calcular los días restantes.  
</div>

<div class="checkbox">
  <label>
    <%= f.check_box :d1 %> Lunes
  </label>
</div>

<div class="checkbox">
  <label>
    <%= f.check_box :d2 %> Martes
  </label>
</div>

<div class="checkbox">
  <label>
    <%= f.check_box :d3 %> Miercoles
  </label>
</div>

<div class="checkbox">
  <label>
    <%= f.check_box :d4 %> Jueves
  </label>
</div>

<div class="checkbox">
    <label>
 <%= f.check_box :d5 %> Viernes
    </label>
</div>

<div class="checkbox">
    <label>
      <%= f.check_box :d6 %> Sabado
    </label>
</div>

<div class="checkbox">
    <label>
      <%= f.check_box :d7 %> Domingo
    </label>
</div>
</div>

<div class="modal-footer">
      <%= f.submit "Guardar", class:"btn btn-medium btn-primary" %>
        <%= link_to("Volver", calendars_path, :confirm => "Esta seguro de cancelar la operación?  Los cambios no se guardaran ", :class => "btn btn-primary", :title => "Cancelar los cambios y volver a la pagina inicial.") %>
</div>


</fieldset>
<% end %>





