<%= javascript_include_tag "datatables.language" %>

<script type="text/javascript">
  $(document).ready(function() {
      $('#calendars').DataTable({
          "language": language,
           "columnDefs": [
            { "orderable": false, "targets": [5,6,7] },
             { "type": 'date-eu', targets: [2,3] },
            { "searchable": false, "targets": [5,6,7]}
          ],
          "destroy": true
        });
  } );
</script>


<% provide(:title, 'Lista de Departamentos') %>
<h2 class="sub-header">Calendarios</h2>


<div class="well well-sm">
  <%= link_to "Nuevo Calendario!", new_calendar_path, class: "btn btn-medium btn-primary" %> 
</div>


<div class="well well-sm">
	<% if @calendars.count<1 && params[:status]=='t' %>
	<div class="alert alert-info">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <strong>Aviso!</strong> No se ha generado ningún calendario para su empresa. Haga click en nuevo para abrir un calendario en uno de los departamentos.
  </div>
  <% end %>
	<%= form_tag(calendars_path, :method => "get" , :class => 'form-inline') do %>

	<%= select_tag :department, options_for_select([["Departamentos" , "" ]]+@dptos.collect{ |u| [u.nombre, u.id] },params[:department]), :class => 'form-control'
	%>

	<%= select_tag :status, options_for_select([["Estado: Activo","t"],["Estado: Cerrado","f"]],params[:status]), :class=> 'form-control' %>


	<%= submit_tag "Buscar", :name => nil, class:"btn btn-medium btn-primary" %>
	  <%= link_to("Limpiar", calendars_path,  :class => "btn btn-info", :title => "Limpiar parámetros de búsqueda") %>
	<% end %>
 
</div>

	

	<table class="table table-hover table-striped" id="calendars">

	<thead>
		<th >Año</th>
		<th >Departamento</th>
		<th >Fec. inicio</th>
		<th >Fec. cierre </th>
		<th >Dias</th>
		<th >&nbsp;</th>
		<th >&nbsp;</th>
		<th>&nbsp; </th>
		
		
		
	</thead>
	<tbody>
		<% @calendars.each do |cal| %>
		<tr class="fields">
		
			<td>
				<%= link_to cal.anio,requests_calendar_path+("?date[month]=#{Date.current.month}&date[year]=#{cal.anio}") %>
			</td>
			
			<td><%= cal.department.nombre %></td>
			<td><%= cal.fecha_apertura %></td>
			<td><%= cal.fecha_cierre %></td>
			<td><%= cal.line_calendars.count %>
				
			</td>
			<td>
<%= link_to "Laborables", calendar_path(cal) ,:class => "btn btn-sm btn-default" %>
			</td>
			<td>
			
			<%= link_to "Hábiles", {action: "days" , id: cal.id} ,:class => "btn btn-sm btn-default" %>
			
			</td>
		
			<td>
			<% if cal.status %>
			<%= link_to "Cerrar", cal, method: :put, :class => "btn btn-sm btn-danger", data: { confirm: "Esta seguro? Una vez cerrado el ejercicio los empleados no podrán hacer solicitudes para el año indicado" } %>
			<% else %>
			<%= link_to "Reabrir", cal, method: :put, :class => "btn btn-sm btn-danger" ,data: { confirm: "Esta seguro? Una vez abierto el ejercicio los empleados podrán hacer solicitudes para el año indicado" } %>
			<% end %>
			</td>
		</tr>
		<% end %>
	</tbody>
	</table>



