<% provide(:title, 'Alta de Calendarios') %>
<h2 class="sub-header">Nuevo Calendario</h2>

<%= render partial:'shared/error_messages',  object: @calendar, as: 'object' %>


<div class="alert alert-info">
	      <button type="button" class="close" data-dismiss="alert">&times;</button>
	      <strong>Aviso!</strong> Al generar el calendario se asignaran los días festivos correspondientes al año seleccionado. 
	      							Para modificarlo acceda a "dias no laborables" en el listado de calendarios.
</div>

<%= form_for(@calendar, :html => {:class => "form form-horizontal"}) do |f| %>
	
	<fieldset class="scheduler-border">
		<div class="well">
	 	<legend class="scheduler-border" >Periodo de solicitudes</legend>

		
		
			<div class="form-group">
				<%= f.label :anio, "Año del ejercicio",:class=>"col-sm-3 control-label" %>
				<div class="col-sm-3">
				<%= f.select :anio, options_for_select((2.years.ago.year..Time.now.year+1),Time.now.year),
					 {},html_options = {:class=> 'form-control'} %>
				</div>
			</div>

			<div class="form-group">
			<%= f.label :fecha_apertura, "Fecha de apertura" ,:class=>"col-sm-3 control-label"%>
				<div class="col-sm-3">
				<%= f.text_field :fecha_apertura, :class => 'datepicker input-large', 
										:placeholder => "Seleccione fecha" %>
				</div>	
			</div>

			<div class="form-group">
				<%= f.label :department_id, "Departamento" ,:class=>"col-sm-3 control-label"%>
				<div class="col-sm-4">
				<%= f.select :department_id, options_for_select(@dptos.map{ |s| [s.nombre, s.id] }) , {},
						:class => 'form-control' %>
				</div>	
			</div>
		</div>

		<div class="modal-footer">
				<%= f.submit "Guardar", class:"btn btn-medium btn-primary" %>
				  <%= link_to("Cancelar", calendars_path, :confirm => "Esta seguro de cancelar la operación?  Los cambios no se guardaran ", 
				  :class => "btn btn-default", :title => "Cancelar los cambios y volver a la pagina inicial.") %>
		</div>

	</fieldset>
<% end %>


