


<% provide(:title, 'Registrarse') %>


<h2 class="page-header">Registrarse</h2>

<% if @enterprise.errors.any? %>
	<div id="error_explanation">
	 <div class="alert alert-danger" role="alert">
		Datos de la empresa contiene <%= pluralize(@enterprise.errors.count,"error") %>
		
		<ul>
				<% @enterprise.errors.full_messages.each do |msg| %>
					<% if !msg.include? 'Department' %>
					<li>* <%= msg %></li>
					<% end %>
				<% end %> 
				
				<% @enterprise.departments[0].employees[0].errors.full_messages.each do |msg| %>
					<% if !msg.include? 'Department' %>
					<li>* <%= msg %></li>
					<% end %>
				<% end %> 
		</ul>
		</div>
	</div>
<% end %>



<div class="col-row-offset-1 col-sm-10">
	<div class="panel panel-primary">
		<div class="panel-heading">
			 <h3 class="panel-title">Rellene el formulario</h3>
		</div>
		<div class="panel-body">
			<%= form_for(@enterprise, html: {class: "form-horizontal"}) do |f| %>
				<fieldset class="scheduler-border">
			
					<legend class="scheduler-border">Datos de la empresa</legend>
					<div class="field form-group">	
						<%= f.label :empresa, "Empresa o Razón Social",:class=> 'col-sm-3 control-label' %>
						<div class="col-sm-9">
						<%= f.text_field :empresa,:placeholder => 'Denominación de la empresa',:class=>'form-control', :required =>true %>
						</div>
					</div>
					
					<legend class="scheduler-border">Datos del Administrador de la aplicación</legend>
				
						<%= f.fields_for :departments do |d| %>		
							<%= render "departments_fields", :f => d %>		
						<% end %>
				
						<div class="actions form-group">
						    <div class="col-sm-offset-3 col-sm-10">
						     <%= f.submit "Crear cuenta", class:"btn btn-primary" %>
						    </div>
						</div>
						Ya estas registrado? <%= link_to "Autentificarse!", signin_path %> 
				</fieldset>
			<% end %>
		</div>
	</div>
</div>

	

