

<%= render partial:'shared/error_messages',  object: @av, as: 'object' %>

<%= form_for(@av,:html => {:class => 'form-horizontal'}) do |f| %>

<div class="well">
	<fieldset>
	<legend>Datos del Periodo</legend>		

			<div class="form-group">
				<%= f.label :cargo, "Cargo*", :class => 'control-label col-sm-3' %>
				<div class="col-sm-6 col-md-4">
					<%= f.text_field :cargo, :required => true, :class => 'form-control' %>
				</div>
			</div>

			<div class="form-group">
				<%= f.label :num_min_emp, "Nº mínimo de empleados*" , :class =>'control-label col-sm-3'%>
				<div class="col-sm-6 col-md-4">
					<%= f.number_field :num_min_emp, :required => true, :class => 'form-control' %>
				</div>
			</div>

			<div class="form-group">
				<%= f.label :desde, "Fecha de Inicio*", :class => 'control-label col-sm-3' %>
				<div class="col-sm-6 col-md-4">
					<%= f.text_field :desde, :required => true, :value => @av.desde, :class => 'datepicker form-control', :placeholder => 'Click para abrir calendario' %>
				</div>
			</div>

			<div class="form-group">
				<%= f.label :hasta, "Hasta*", :class =>'control-label col-sm-3' %>
				<div class="col-sm-6 col-md-4">	
					<%= f.text_field :hasta, :required => true, :value => @av.hasta, :class => 'datepicker form-control', :placeholder => 'Click para abrir calendario' %>
				</div>
			</div>

			<div class="form-group">
				<%= f.label :notas, "Notas", :class =>'control-label col-sm-3' %>
				<div class="col-sm-8 col-md-6">
					<%= f.text_area :notas, :class =>'form-control' %>
				</div>
			</div>
			  <%= f.hidden_field :department_id, :value => @dpto.id %>

				<br /><br />
	</fieldset>
</div>
	<br />


	<div class="modal-footer">
		<%= f.submit "Guardar", class:"btn btn-medium btn-primary",:title =>"Guardar cambios para este departamento" %>
				
		<%= link_to("Cancelar", department_path(@dpto), :confirm => "Esta seguro? Los cambios no seran guardados.", :class => "btn btn-default", :title => "Anular los cambios y volver al índice de Departamentos.") %>
	</div>
<% end %>