<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<body>
	
	<!-- print menu -->
	<%= render 'layouts/header' %>

  <% if signed_in? && (chief_user? || admin_user?)  %>
    <div id="main" class="container-fluid">
      <div class="row">

         <!-- dashboard sidebar -->
        <div class="col-sm-3 col-md-2 sidebar">
          <%= render 'shared/dashboard_menu' %>
        </div>

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <div class="col-sm-12">
            <% flash.each do |name, msg| -%>
              <%= content_tag :div, msg, class: "alert alert-#{name}" %>
            <% end %>
          </div>

          <div class="col-sm-12">  
            <%= yield %>
          </div>
        </div>
     
      </div>

    </div>

  <% else %>
	 <div id="main" class="container">

      	<div class="row">
	        <div class="col-xs-12">
	          <% flash.each do |name, msg| -%>
	            <%= content_tag :div, msg, class: "alert alert-#{name}" %>
	          <% end -%>
	        </div>
      	</div>

      	<div class="row">	
	        <%= yield %>
      	</div>

    </div>
  <% end %>

    <%= render 'layouts/footer' %>

</body>
</html>
